
<ngui-map style="height:90vh; width:100%;" zoom="14" center="-30.33778316185373, -54.326743862426724" mapTypeId="terrain"
  scrollwheel="false">
  <polyline [editable]="false" [path]="tracksLuiz" [geodesic]="true" [strokeColor]="'#FF0000'" [strokeOpacity]="1" [strokeWeight]="2">
  </polyline>


  <polyline [editable]="false" [path]="tracksEverton" [geodesic]="true" [strokeColor]="'#007BFF'" [strokeOpacity]="1" [strokeWeight]="2">
  </polyline>

  <polyline [editable]="false" [path]="tracksEli" [geodesic]="true" [strokeColor]="'#2B770A'" [strokeOpacity]="1" [strokeWeight]="2">
  </polyline>

  <polyline [editable]="false" [path]="tracksDirceuInicio" [geodesic]="true" [strokeColor]="'#161616'" [strokeOpacity]="1" [strokeWeight]="2">
  </polyline>

  <polyline [editable]="false" [path]="tracksHilario" [geodesic]="true" [strokeColor]="'#FF00C7'" [strokeOpacity]="1" [strokeWeight]="2">
  </polyline>

</ngui-map>