<div class="container">
    
      <h1>EDITAR cliente {{cliente.nome}}</h1>
    
    
      <form #formCliente="ngForm">
        <div class="well">
          <div class="row">
    
            <div class="col-md-5">
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="nome cliente" [(ngModel)]="cliente.nome" #nome="ngModel"
                  minlength="5" required>
    
                <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                  <div [hidden]="!nome.errors.required"> Nome obrigatório </div>
                  <div [hidden]="!nome.errors.minlength"> Mínimo 5 caracteres </div>
                </div>
    
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" id="cpf" placeholder="CPF" name="cpf"            
                [(ngModel)]="cliente.cpf"
                kzMask="999.999.999-99">
                
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="codCorreio">Código Correio:</label>
                <input type="number" class="form-control" name="codCorreio" id="codCorreio" placeholder="código do correio" [(ngModel)]="cliente.codCorreio">
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="form-group col-md-6">
              <label for="ondeDeixar">Onde deixar:</label>
              <input type="text" class="form-control" name="ondeDeixar" id="ondeDeixar" placeholder="Onde deixar o jornal?" [(ngModel)]="cliente.ondeDeixar">
            </div>
            <div class="form-group col-md-6">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="email" 
                [(ngModel)]="cliente.email">
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-4">
                <label for="telefone1">Fone 1</label>
                <input type="text" class="form-control" name="telefone1" id="telefone1" placeholder="telefone 1" 
                [(ngModel)]="cliente.telefone1"
                kzMask="(99) 9 9999-9999">
              </div>
              <div class="form-group col-md-4">
                  <label for="telefone2">Fone 2</label>
                  <input type="text" class="form-control" name="telefone2" id="telefone1" placeholder="telefone 2" 
                  [(ngModel)]="cliente.telefone2"
                  kzMask="(99) 9 9999-9999">
                </div>
                <div class="form-group col-md-4">
                    <label for="telefone3">Fone 3</label>
                    <input type="text" class="form-control" name="telefone3" id="telefone3" placeholder="telefone 3" 
                    [(ngModel)]="cliente.telefone3"
                    kzMask="(99) 9 9999-9999">
                  </div>
            </div>
    
          <legend>
            <strong> Endereço </strong>
          </legend>
    
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="rua">Rua:</label>
                <select name="rua" class="form-control" [(ngModel)]="cliente.rua.id" required>
                    <option *ngFor="let r of ruas" [value]="r.id"> 
                     {{r.id}} - {{r.nome}}
                    </option>
                  </select>
    
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="numero">Número:</label>
                <input type="number" class="form-control" name="numero" id="numero" placeholder="N° casa" required [(ngModel)]="cliente.numero">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="complemento">Complemento:</label>
                <input type="text" class="form-control" name="complemento" id="complemento" maxlength="39" [(ngModel)]="cliente.complemento">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="cidade">Cidade:</label>
                <input type="text" class="form-control" name="cidade" id="cidade" value="São Gabriel" [(ngModel)]="cliente.cidade.nome" disabled>
              </div>
            </div>
          </div>
          <legend>
            <strong>  Coordenadas </strong>
          </legend>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="rota">Rota:</label>
              <select name="rota" class="form-control" [(ngModel)]="cliente.rota.id" required>
                        <option *ngFor="let r of rotas" [value]="r.id"> 
                         {{r.id}} - {{r.nome}}
                        </option>
                      </select>
    
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="latitude">Latitude:</label>
                <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude no formato -53.722857" required 
                [(ngModel)]="cliente.latitude">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="latitude">Longitude:</label>
                <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude no formato -29.715613" required 
                [(ngModel)]="cliente.longitude" >
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class=" btn btn-success" [disabled]="!formCliente.form.valid" (click)="atualizar()">Atualizar</button>
        </div>
        
      </form>
    
    </div>