 
  
  <div class="row">
     <!-- <div *ngIf="!ativarAutalizacaoCliente" class="col-md-12"> -->
        <div class="col-md-8">

     

        <ngui-map style="height:90vh; width:100%;" zoom="14"  center="-30.3486032, -54.3453789" > 
           
          <marker *ngFor="let cli of clientes" (dblclick)="permiterMoverPonto($event)" (dragend)="moveuPonto($event)" [position]="[cli.latitude, cli.longitude]" (click)="clicked($event, cli)">
              <info-window id="iw">
                  <div *ngIf="marker.display">
                    lat: {{ marker.lat }}, lng: {{ marker.lng }} 
                    <br /><strong>{{marker.title}}</strong> 
                  </div>
                  <!-- <button (click)="hideMarkerInfo()">Hide Info</button> -->
                </info-window>
          </marker>
         <!-- <marker [position]="[-30.319248, -54.310070]" ></marker>
          <marker [position]="[-30.342013, -54.339090]" ></marker>
          <marker [position]="[-30.331457, -54.317887]" ></marker> 
        drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
        -->
          
          <drawing-manager
         
          [drawingControl]="true"
          [drawingControlOptions]="{
            position: 6,
            drawingModes: ['polygon']
           }"
          [circleOptions]="{
            fillColor: '#ffff00',
            fillOpacity: 1,
            strokeWeight: 5,
            editable: true,
            zIndex: 1
          }"></drawing-manager>

        </ngui-map>
       
        
         
    </div>
    <div *ngIf="ativarCriacaoRotaClientes" class="col-md-4">
        selectedOverlay: {{selectedOverlay}} <br/>
        <button (click)="deleteSelectedOverlay()">Limpar Rota</button>
      
      <h3>Criar Rota para o Clientes:</h3>
      <h5 *ngFor="let cli of clientesSelec">{{cli.nome}}</h5>
    </div>

    <div *ngIf="ativarAutalizacaoCliente" class="col-md-4">


        <h3>Dados Clientes</h3>
        
        
        <form >
         <div class="well">
          <div class="row"> 
      
            <div class="col-md-5">
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome"  placeholder="nome cliente">
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="cpf">CPF:</label>
                  <input type="number" class="form-control" id="cpf" placeholder="CPF" disabled>
                </div>
              </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="codCorreio">Cód Correio:</label>
                <input type="number" class="form-control"  name="codCorreio" id="codCorreio" placeholder="código do correio" >
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="form-group col-md-12">
              <label for="ondeDeixar">Onde deixar:</label>
              <input type="text" class="form-control" name="ondeDeixar" id="ondeDeixar" placeholder="Onde deixar o jornal?">
            </div>
          </div>
          
          <legend>
           <strong> Endereço </strong>
          </legend>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="cidade">Cidade:</label>
                      <input type="text" class="form-control" name="cidade" id="cidade" value="São Gabriel" >
                    </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="rua">Rua:</label>           
                    <select name="rua" class="form-control" >
                      <!--<option *ngFor="let r of ruas" [value]="r.id"> 
                       {{r.id}} - {{r.nome}}
                      </option>-->
                    </select>
      
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="numero">Número:</label>
                    <input type="number" class="form-control" name="numero" id="numero" placeholder="N° casa"  >
                </div>
            </div>
          </div>
          <legend>
            <strong>  Coordenadas </strong> 
          </legend>
          <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="latitude">Latitude:</label>
                    <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude da casa" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="latitude">Longitude:</label>
                    <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude da casa" >
                </div>          
            </div>
          </div>
          
          <div class="row" >
            <div class="form-group">
              <input (click)="ativaStreetViewMap()" type="checkbox" > Ativar StreetViewPanorama? <br>
            </div>
          </div>
        </div>
          <div class="form-group text-center">
              <button type="submit" (click)="atualizar()" class=" btn btn-success"  >Atualizar</button>
          </div>
          
        </form>

    </div>
  </div> 

 <!-- <ngui-map 
  zoom="13" 
  center="37.775, -122.434" 
  (mapReady$)="onMapReady($event)"
  (mapClick)="onMapClick($event)"
  (idle)="onIdle($event)"
  mapTypeId="satellite">
    <marker *ngFor="let pos of positions" 
      [position]="pos"
      (initialized$)="onMarkerInit($event)"></marker>
</ngui-map> -->
<div class="row">
    
          <div *ngIf="ativaStreetView">
              <h3>Casa do Cliente  {{ clienteSelecionado.nome }}</h3>
              <ngui-map 
                center="{{ marker. lat }}, {{ marker.lng }}"
                zoom="18"
                map-type-id="MapTypeId.SATELLITE"
                tilt="45" 
                >
             
                    <street-view-panorama 
                    position="{{ marker. lat }}, {{ marker.lng }}"
                    pov="{heading: 100, pitch: 0}"
                    id="te"
                    zoom="1" (position_changed)="moveuPonto($event)" (maptypeid_changed)="posicao($event)"  >
          
                
                 
               </street-view-panorama>
              </ngui-map>
                
    
             <!-- 
               <div id="sv"></div>  
               streetView="StreetViewPanorama( document.querySelector('div#sv'), {position:new google.maps.LatLng({{ marker. lat }}, {{ marker.lng }})})"
    .addListener('position_changed', function() { moveuPonto($event);})
    
               <street-view-panorama
                 position="{{ marker. lat }}, {{ marker.lng }}"
                 pov="{heading: 165, pitch: 0}"
                 zoom="1" (position_changed)="moveuPonto($event)" (maptypeid_changed)="posicao($event)"  >
                  
                </street-view-panorama>
              -->
    
            </div>
    
      </div>
 

